body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;
    height: 100%;
}

button.equals {
    grid-column: 3 /5;
}